<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Text Case Converter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      .container {margin:0 auto;padding-top: 0;}
      #wrapper {max-width: 1500px;min-height: 768px; margin:0 auto;background-color: #ddd;text-align: center;}
      #pageTitle {padding:30px 0 0 0;}
      #pageTitle h1 {margin:0 0 10px 0;}
      textarea {width: 95%;}
      #buttons {margin:30px 0 0 0;padding:0 0 30px 0;}
      #buttons button {margin: 0 10px 0 10px;}
      #changedText {text-transform: uppercase;font-size: 16px; background-color: #eee;border:0;}
      #result {background-color: #eee;}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  </head>
  <body>
    <div class="container" ng-app>
      <div id="wrapper">
        <div id="pageTitle">
          <h1>Easy to use Case Converter</h1>
          <h3>Paste and click, you will get your desired text case!</h3>
        </div>
        <div id="textBox">
          <textarea id="textInput" ng-model="yourText" rows="6" cols="60" autofocus placeholder="Type or paste your content here..."></textarea>
        </div>
        <div id="buttons">
          <button id="upper" class="btn btn-primary active">UPPER CASE</button>
          <button id="lower" class="btn btn-primary">lower case</button>
          <button id="capital" class="btn btn-primary">Capitalize</button>
          <button id="clear" ng-click="yourText = null" class="btn btn-danger">CLEAR</button>
        </div>
        <div id="result">
          <textarea id="changedText" ng-model="yourText" rows="6" cols="60" readonly placeholder="Your Result Shows here..."></textarea>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $("#upper").click(function(){
        $("#changedText").css("text-transform", "uppercase");
        $("#upper").addClass("active");
        $("#lower").removeClass("active");
        $("#capital").removeClass("active");
      });
      $("#lower").click(function(){
        $("#changedText").css("text-transform", "lowercase");
        $("#lower").addClass("active");
        $("#upper").removeClass("active");
        $("#upper").removeClass("active");
      });
      $("#capital").click(function(){
        $("#changedText").css("text-transform", "Capitalize");
        $("#capital").addClass("active");
        $("#lower").removeClass("active");
        $("#upper").removeClass("active");
      });
    </script>
  </body>
</html>